@tailwind base;

body {
  @apply transition duration-500 ease-in-out;
}

/* a {
  @apply text-blue-700 hover:text-blue-700 before:text-blue-500
  after:text-blue-500
} */

.middle {
  @apply before:bg-blue-700  transition duration-500 ease-in-out;
}

@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.font-roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-kanit {
  font-family: "Kanit", sans-serif;
}

.font-public-sans {
  font-family: "Public Sans", sans-serif;
}

@media screen and (max-width: 1439px) {
  .editor-container {
    flex-direction: column;
  }

}

@media screen and (max-width: 1279px) {
  .bar-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .bar-links.open {
    transform: translateX(0);
  }
}

.fade-in-out {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.fade-in-out.show {
  opacity: 1;
  transform: translateY(0);
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  left: unset !important;
  right: 140px !important;
}

/* scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1279px) {
  .css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    left: unset !important;
    right: 90px !important;
  }
}

@media screen and (max-width: 1100px) {
  .css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    left: unset !important;
    right: 70px !important;
  }
}

@media screen and (max-width: 768px) {
  .css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    left: unset !important;
    right: 60px !important;
  }
}
